
/*#region Variables */
body {
	--color-fade-speed: 0.2s;
}

/*#endregion */

/*#region Features */

.data-bar .feature-title {
	color: var(--text-muted);
	font-weight: 400;
	font-size: 0.9em;
}

.feature-header:empty,
.feature-title:empty {
	display: none;
}

/*#endregion */

/*#region Header & Footer */

.header .data-bar
{
	display: flex;
	flex-wrap: wrap;
}

.header .data-bar > :not(:first-child)
{
	border-left: 1px solid var(--background-modifier-border);
	padding-left: 0.5em;
	margin-left: 0.5em;
}

.header .data-bar:not(:empty) {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid var(--background-modifier-border);
}

.footer:not(:has(div:first-child:last-child)):not(:empty),
.footer .data-bar:not(:empty) {
	border-top: 1px solid var(--background-modifier-border);
	padding-top: var(--size-4-6);
	margin-top: var(--size-4-6);
}

.header:last-child {
	margin-bottom: var(--p-spacing);
}

/*#endregion */

/*#region Hover Preview*/

.file-preview.popover.hover-popover .markdown-embed {
	max-height: unset !important;
	width: 100% !important;
	min-width: var(--popover-width);
	min-height: 8em;
}

.file-preview.popover.hover-popover {
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
	resize: both;
	min-width: var(--popover-width);
	min-height: 8em;
	height: var(--popover-height);
	width: var(--popover-width);
}

.preview-action-container {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	padding-right: 10px;
	width: 100% !important;
	display: flex;
	gap: 5px;
	z-index: 1000;
}

.popover-action {
	display: block;
	background-color: var(--icon-color);
	width: var(--icon-size);
	height: var(--icon-size);
	mask-size: 100% 100%;
	mask-position: center;
	mask-repeat: no-repeat;
}

.popover-action:hover {
	background-color: var(--icon-color-hover);
}

.popover-action:active {
	background-color: var(--interactive-accent);
}

.popover-action.drag-handle {
	margin-right: auto;
	cursor: move;
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-grip"><circle cx="12" cy="5" r="1"/><circle cx="19" cy="5" r="1"/><circle cx="5" cy="5" r="1"/><circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/><circle cx="12" cy="19" r="1"/><circle cx="19" cy="19" r="1"/><circle cx="5" cy="19" r="1"/></svg>');
}

.popover-action.pin-button {
	cursor: pointer;
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pin"><path d="M12 17v5"/><path d="M9 10.76a2 2 0 0 1-1.11 1.79l-1.78.9A2 2 0 0 0 5 15.24V16a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-.76a2 2 0 0 0-1.11-1.79l-1.78-.9A2 2 0 0 1 15 10.76V7a1 1 0 0 1 1-1 2 2 0 0 0 0-4H8a2 2 0 0 0 0 4 1 1 0 0 1 1 1z"/></svg>');
	transition: mask-image 0.3s ease;
}

.popover-action.pin-button.pinned {
	background-color: var(--interactive-accent);
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pin-off"><path d="M12 17v5"/><path d="M15 9.34V7a1 1 0 0 1 1-1 2 2 0 0 0 0-4H7.89"/><path d="m2 2 20 20"/><path d="M9 9v1.76a2 2 0 0 1-1.11 1.79l-1.78.9A2 2 0 0 0 5 15.24V16a1 1 0 0 0 1 1h11"/></svg>');
}

.popover-action.go-to-button {
	cursor: pointer;
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-symlink"><path d="m10 18 3-3-3-3"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M4 11V4a2 2 0 0 1 2-2h9l5 5v13a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h7"/></svg>');
}


/*#endregion*/

/* Plugins: */

/*#region Kanban */

#center-content .kanban-plugin {
	position: absolute;
	padding: 0;
	margin: 0;
	height: 100%;
}

#center-content .kanban-plugin {
	font-family: var(--font-text, var(--default-font));
	font-size: .875rem;
	line-height: var(--line-height-tight);
	width: unset;
	overflow-y: unset;
	overflow-wrap: unset;
	color: unset;
	user-select: unset;
	-webkit-user-select: unset;
}

#center-content .kanban-plugin__item-button-wrapper,
.kanban-plugin__lane-grip,
.kanban-plugin__lane-settings-button.clickable-icon,
.kanban-plugin__item-postfix-button.clickable-icon {
	display: none;
}

/*#endregion */

/*#region Excalidraw */

.excalidraw-svg rect,
.excalidraw-plugin rect {
	fill: transparent;
}

/** Preserve mask fill **/
.excalidraw-plugin mask rect[fill="#fff"],
.excalidraw-svg mask rect[fill="#fff"],
.excalidraw-plugin mask rect[fill="#ffffff"],
.excalidraw-svg mask rect[fill="#ffffff"] {
	fill: #ffffff;
}

.excalidraw-plugin mask rect[fill="#000"],
.excalidraw-svg mask rect[fill="#000"],
.excalidraw-plugin mask rect[fill="#000000"],
.excalidraw-svg mask rect[fill="#000000"] {
	fill: #000000;
}

body.theme-dark .excalidraw-svg svg.dark,
body.theme-dark .excalidraw-plugin svg.dark,
body.theme-light .excalidraw-svg svg.light,
body.theme-light .excalidraw-plugin svg.light {
	filter: invert(93%) hue-rotate(180deg);
}


.excalidraw-plugin>svg {
	width: 100%;
	height: 100%;
}

.excalidraw-plugin {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;

	padding: 10px;
}

/*#endregion  */

/*#region Obsidian Columns Plugin */
.columnParent {
	display: flex;
	padding: 15px 20px;
	flex-wrap: wrap;
	gap: 20px;
}

.columnParent {
	white-space: normal;
}

.columnChild {
	flex-grow: 1;
	flex-basis: 0px;
}

/*#endregion */

/*#region Banners */

.obsidian-banner .lock-button {
	display: none;
}

.obsidian-document:has(.obsidian-banner-wrapper) {
	padding-top: 0 !important;
}

/*#endregion */

/*#region Mind Map  */

.obsidian-document:not([data-type='markdown']):has(.mm-mindmap) {
	overflow-y: none;
}

.obsidian-document:not([data-type='markdown']) .mm-mindmap {
	transform: scale(1);
	translate: -4000px -4000px;
	top: 70%;
	left: 50%;
	position: absolute;
	overflow: hidden;
	width: 100vw;
}

/*#endregion  */
